<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Se connecter</title>
</head>
<body>
  <h1>Connexion</h1>
    <section>
      <form action="/login" method="POST">
        <label for="email">E-mail</label>
        <input id="email" name="email" type="email" placeholder="email@domaine.com">

        <label for="password">Password</label>
        <input id="password" name="password" type="password" placeholder="password">

        <button type="submit">Se connecter</button>
      </form>
    </section>

</body>
</html>