<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>S'inscrire</title>
</head>
<body>
  <h1>Inscription</h1>
    <section>
      <form action="#" method="post">
        <label for="firstname">Prénom</label>
        <input id="firstname" name="firstname" type="text" placeholder="firstname">
          
        <label for="lastname">Nom</label> 
        <input id="lastname" name="lastname" type="text" placeholder="lastname">

        <label for="email">E-mail</label>
        <input id="email" name="email" type="email" placeholder="email@domaine.com">

        <label for="password">Password</label>
        <input id="password" name="password" type="password" placeholder="firstname">

        <button type="submit">S'inscrire</button>
      </form>
    </section>

</body>
</html>